.accordion {
  //max-width: 500px;
  min-width: 860px;
  margin-top: -1px;

  @include vp-1365 {
    min-width: 290px;
  }

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    padding: 25px 0 22.5px;
    position: relative;
    border-top: 1px solid #1C337433;

    @include vp-1365 {
      padding: 26px 0 23px;
    }

    @include vp-767 {
      padding: 22px 0 21px;
    }
  }

  &__element:last-child {
    border-bottom: 1px solid #1C337433;
  }

  &__button {
    width: 100%;
    padding: 10px;

    text-transform: uppercase;

    cursor: pointer;
  }
}

.accordion__element::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  top: 25px;
  border: 1px solid $color-resolution-blue;
  border-radius: 50%;

  @include vp-1365 {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  @include vp-767 {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 30px;
  }
}

.accordion__element.is-active::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  top: 25px;
  border: 1px solid $color-resolution-blue;
  border-radius: 50%;
  background-color: $color-resolution-blue;

  @include vp-1365 {
    top: 25px;
    bottom: auto;
    margin: 0;
  }

  @include vp-767 {
    margin: 0;
    top: 26px;
    height: 30px;
    width: 30px;
  }
}

.accordion__button::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 1px;
  right: 10px;
  top: 43px;
  background-color: $color-resolution-blue;
  z-index: 2;

  @include vp-1365 {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  @include vp-767 {
    width: 15px;
    right: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.is-active > .accordion__button::before {
  background-color: $color-default-white;

  @include vp-1365 {
    top: 45px;
    margin: 0;
  }

  @include vp-767 {
    right: 8px;
    top: 40px;
    margin: 0;
  }
}

.accordion__button::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 19px;
  right: 19px;
  bottom: 37px;
  background-color: $color-resolution-blue;
  z-index: 2;

  @include vp-1365 {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  @include vp-767 {
    height: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.is-active > .accordion__button::after {
  content: "";
  display: none;
}

.accordion__br {
  display: none;

  @include vp-1365 {
    display: block;
  }
}

.accordion__br--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}
