.accordion {
  //max-width: 500px;
  width: 860px;

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    padding: 23px 0 25px;
    position: relative;
    border-top: 1px solid #1C337433;
  }

  &__element:last-child {
    border-bottom: 1px solid #1C337433;
  }

  &__button {
    width: 100%;
    padding: 10px;

    text-transform: uppercase;

    cursor: pointer;
  }
}

.accordion__element::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  top: 24px;
  border: 1px solid $color-resolution-blue;
  border-radius: 50%;
}

.accordion__element.is-active::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  top: 24px;
  border: 1px solid $color-resolution-blue;
  border-radius: 50%;
  background-color: $color-resolution-blue;
}

.accordion__button::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 1px;
  right: 10px;
  top: 43px;
  background-color: $color-resolution-blue;
  z-index: 2;
}

.is-active > .accordion__button::before {
  background-color: $color-default-white;
}

.accordion__button::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 19px;
  right: 19px;
  bottom: 37px;
  background-color: $color-resolution-blue;
  z-index: 2;
}

.is-active > .accordion__button::after {
  content: "";
  display: none;
}
