.btn {
  display: inline-flex;
  padding: 25px 55px;

  color: $color-default-white;

  outline: 2px solid $color-default-white;
  outline-offset: -2px;
  cursor: pointer;

  transition: opacity $trans-default;
  background-color: transparent;

  font-family: $ff-roboto-condensed;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

  @include vp-1365 {
    padding: 20px 32px;;
  }


  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

    &--dark {
    @include hover-focus {
      background-color: $color-default-white;
      color: $color-egyptian-blue;
      transition: $trans-default;
      outline: 2px solid $color-default-white;
    }

    @include active {
      color: $color-sapphire;
      transition: $trans-default;
      outline: 2px solid $color-default-white;
    }
  }

  &--gradient {
    color: $color-sapphire;
    outline: 2px solid $color-sapphire;
    padding: 27px 44.5px;

    @include vp-1365 {
      padding: 22px 44px;
    }

    @include hover-focus {
      outline: none;
      background: $red-to-blue;
      color: $color-default-white;
      transition: $trans-default;
    }

    @include active {
      opacity: 0.7;
    }
  }

  &--tabs {
    color: $color-sapphire;
    outline: 1px solid #10265433;
    padding: 18px 48px;
    border: none;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    width: 260px;
    margin: 0;
    letter-spacing: 0;
    outline-offset: -1px;

    @include vp-1365 {
      width: 162px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      width: 141px;
      padding: 16px 0 12px;
      height: min-content;
    }

    @include hover-focus {
      outline: 1px solid $color-sapphire;
      outline-offset: -1px;
      transition: $trans-default;
    }

    @include active {
      color: $color-default-white;
      background: $red-to-blue;
      outline: none;
      outline-offset: -1px;
    }

    &.is-active {
      color: $color-default-white;
      background: $red-to-blue;
      outline: none;
    }
  }

  &--aquamarine{
    color: $color-sapphire;
    outline: none;
    padding: 9px 0;
    border: none;
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    min-width: 860px;
    margin: 0;
    letter-spacing: 0;

    @include vp-1365 {
      font-size: 22px;
      line-height: 22px;
      min-width: 290px;
      width: 678px;
      text-align: left;
      padding: 0;
    }

    @include vp-767 {
      min-width: auto;
      width: 238px;
      font-size: 20px;
      line-height: 20px;
      padding: 0;
    }

    @include hover-focus {
      transition: $trans-default;
    }
  }
}

