.faq {
  padding: 120px 0 118px;
  background: $color-gost-white;
}

.faq h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
}
