.footer__bottom {
  background: $color-black-russian;
  color: $color-default-white;
  padding: 40px 103px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include vp-1365 {
    padding: 46px 45px 44px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    padding: 27px 0 45px;
  }
}

.footer__bottom h2 {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 235px;
  overflow-wrap: break-word;

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;
    margin-right: 34px;
  }

  @include vp-767 {
    padding: 0 15px;
    margin-right: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 28px;
  }
}

.footer__bottom nav {
  margin-right: 250px;

  @include vp-1365 {
    margin-right: 0;
  }
}

.footer__bottom nav ul {
  list-style: none;
  display: flex;
  gap: 21px;
  margin: 0;
  padding: 0;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;

  @include vp-1365 {
    margin-right: 40px;
    gap: 10px;
    flex-wrap: wrap;
  }

  @include vp-767 {
    margin-right: 0;
    padding: 0 5px;
    gap: 15px;
    margin-bottom: 50px;
  }
}

.footer__bottom nav a {
  padding: 5px 10px;

  @include hover {
    border-bottom: 1px solid $color-default-white;
  }

  @include focus {
    outline: 1px solid $color-default-white;
  }
}

.footer__bottom ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.footer__bottom ul a {
  color: $color-default-white;
  cursor: pointer;
  border: none;
}

.footer__bottom ul li {
  display: inline-block;
  height: 25px;
}
