.gym__container {
  display: flex;
  gap: 145px;
  flex-direction: row;
  color: $color-sapphire;
  padding: 120px 103px 235px;
  position: relative;

  @include vp-1365 {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 45px 184px;
    gap: 38px;
  }

  @include vp-767 {
    padding: 70px 0 277px;
    text-align: left;
    gap: 52px;
  }
}

.gym__text-container {
  max-width: 355px;

  @include vp-1365 {
    max-width: 502px;
  }

  @include vp-767 {
    padding: 0 26px 0 15px;
  }
}

.gym__text-container h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 33px;
  overflow-wrap: break-word;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 19px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 13px;
  }
}

.gym__text-container h3 {
  font-family: $ff-roboto-condensed;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 95px;
  overflow-wrap: break-word;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 34px;
    padding-right: 5px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 38px;
    padding-right: 0;
  }
}

.gym__text-container p {
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  overflow-wrap: break-word;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.gym__text-container p .gym__description--desktop {
  margin-top: 8px;
}

.gym__video-wrapper {
  position: absolute;
  inset: 408px 0 0 540px;

  @include vp-1365 {
    inset: 587px auto 0;
    margin: auto;
  }

  @include vp-767 {
    inset: 688px auto 0;
    margin: auto;
  }
}

.gym__video-player {
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 320px;
    height: 167px;
  }
}

.gym__video-overlay {
  position: absolute;
  z-index: 1;
  width: 364px;
  height: 228px;

  @include vp-1365 {
    inset: -102px 0 0 -133px;
    margin: auto;
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    inset: -70px 0 0 -160px;
    margin: auto;
    width: 320px;
    height: 167px;
  }
}

.gym__video-overlay img {
  z-index: 1;
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 320px;
    height: 167px;
  }
}

.gym__description--desktop {
  @include vp-1365 {
    display: none;
  }
}

.gym__button svg {
  width: 15px;
  height: 15px;
  z-index: 4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  left: 0;
  margin: auto;
  fill: $color-default-white;

  @include vp-1365 {
    width: 12px;
    height: 12px;
  }
}

.gym__button {
  padding: 0;
  border: none;
  background: transparent;
  width: 72px;
  height: 72px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;

  &::before {
    background: $red-to-blue;
    position: absolute;
    content: "";
    width: 72px;
    height: 72px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: -14px;
    margin: auto;
    opacity: 0.2;
    background: $color-torch-red;
    border: 2px solid transparent;
    mask: $red-to-blue padding-box, $red-to-blue;
    mask-composite: exclude;
  }

  @include hover-focus {
    svg {
      fill: $color-sapphire;
    }

    &::before {
      background: $color-default-white;
    }

    &::after {
      background: $color-sapphire;
      opacity: 1;
    }
  }

  @include active {
    svg {
      fill: $color-sapphire;
    }

    &::before {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 58px;
      height: 58px;
      background: $color-default-white;
    }

    &::after {
      opacity: 1;
      border: solid 2px $color-sapphire;
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  @include vp-1365 {
    width: 72px;
    height: 72px;

    &::before {
      width: 52px;
      height: 52px;
    }

    &::after {
      width: 72px;
      height: 72px;
      left: 0;
    }

    @include active {
      &::before {
        width: 46px;
        height: 46px;
      }
    }
  }
}

.gym__image-wrapper img {
  @include vp-1365 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: 320px;
    height: 313px;
  }
}
