.gym__container {
  display: flex;
  gap: 145px;
  flex-direction: row;
  color: $color-sapphire;
  padding: 120px 103px 235px 103px;
  position: relative;

  @include vp-1365 {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 45px 184px 45px;
    gap: 36px;
  }
}

.gym__text-container {
  max-width: 355px;

  @include vp-1365 {
    max-width: 502px;
  }
}

.gym__text-container h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 33px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 20px;
  }
}

.gym__text-container h3 {
  font-family: $ff-roboto-condensed;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 95px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 36px;
  }
}

.gym__text-container p {
  font-family: $ff-roboto-condensed;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
}

.gym__text-container p.gym__description--desktop {
  margin-top: 8px;
}

.gym__video-wrapper {
  position: absolute;
  top: 408px;
  left: 540px;

  @include vp-1365 {
    top: 587px;
    left: 251px;
  }
}

.gym__video-wrapper iframe{
  @include vp-1365 {
    width: 265px;
    height: 167px;
  }
}

.gym__video-wrapper button {
  position: absolute;
  left: 102px;
  top: 100px;
}

.gym__video-overlay {
  position: absolute;
  z-index: 1;
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }
}

.gym__description--desktop {
  @include vp-1365 {
    display: none;
  }
}
