.jury {
  position: relative;
  width: 85vw;
  max-width: 1160px;
  margin: 0 auto;
}

.jury h3 {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 39px;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 41px;
  }
}

.jury__button::after {
  color: transparent;
  font-size: 32px;
  font-weight: 200;

  @include vp-767 {
    font-size: 20px;
  }
}

.jury__button svg {
  z-index: 4;
  stroke: $color-sapphire;
  position: absolute;
  inset: 0 5px 0 0;
  margin: auto;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.jury__button {
  top: 62%;
  display: block;

  @include vp-1365 {
    top: 59%;
  }

  @include vp-767 {
    top: 63%;
  }

  &--prev {
    left: -74px;

    @include vp-1365 {
      left: -30px;
    }

    @include vp-767 {
      left: -14px;
    }
  }

  &--next {
    right: -78px;

    svg {
      inset: 0;
    }

    @include vp-1365 {
      right: -33px;
    }

    @include vp-767 {
      right: -16px;
    }
  }
}

.jury__button--prev {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: transparent;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  @include hover-focus {
      border: 1px solid $color-sapphire;
    }

  @include active {
    svg {
      stroke: $color-default-white;
    }

      background-color: $color-sapphire;
  }
}

.jury__button--next {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: transparent;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }

  @include hover-focus {
      border: 1px solid $color-sapphire;
    }

  @include active {
    svg {
      stroke: $color-default-white;
    }

      background-color: $color-sapphire;
  }
}

.jury__container {
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
  max-width: 1160px;

  @include vp-1365 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.jury__list {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - 120px) / 4);
  gap: 40px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1365 {
    grid-auto-columns: calc((100% - 30px) / 2);
    gap: 30px;
  }

  @include vp-767 {
    grid-auto-columns: 100%;
    gap: 0;
  }
}

.jury__item {
  position: relative;
  height: 294px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 18px;
  background-size: cover;

  @include vp-1365 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }


  &:hover {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $color-sapphire-opacity;
      box-shadow: 0px 0px 35px 0px #2A3B632B;
    }
  }
}

.jury__item img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  @include vp-1365 {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.jury__item h4 {
  margin: 0;
  margin-bottom: 7px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: $color-default-white;
  z-index: 3;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.jury__item div {
  display: none;
  font-family: $ff-roboto-condensed;
}

.jury__item:hover div,
.jury__item:focus div,
.jury__item:focus-within div {
  display: block;
  z-index: 2;
  overflow-y: scroll;
  scrollbar-width: 0;
}

.jury__item:hover div::-webkit-scrollbar,
.jury__item:focus div::-webkit-scrollbar,
.jury__item:focus-within div::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.jury__item div p {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-gost-white;
  text-align: center;
}

.jury__item ul {
  max-width: 170px;
  padding-left: 21px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  list-style-type: disc;
  color: $color-default-white;
}


